body {
  text-align: left;
  background: rgb(11, 17, 47);
  background: linear-gradient(
    90deg,
    rgba(11, 17, 47, 1) 0%,
    rgba(9, 37, 152, 1) 100%
  );
  color: white;
}

.bg {
  background: rgb(11, 17, 47);
  background: linear-gradient(
    90deg,
    rgba(11, 17, 47, 1) 0%,
    rgba(9, 37, 152, 1) 100%
  );
  color: white;
}

.container-fluid {
  padding: 0;
}

/* Navbar */
.navbar-brand {
  cursor: pointer;
}

/* Recommended Song */
.song {
  margin-top: 2.5rem;
}

.song-container {
  padding: 3% 15%;
}

.song-details {
  padding-top: 5rem;
}

.embed-responsive.embed-responsive-1by1 {
  border-radius: 1rem;
}

.link-img {
  width: 3rem;
  margin: 1rem 0.5rem 0 0;
}

#previous-recommendation-btn {
  padding: 0.5rem 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid white;
  border-radius: 2px;
}

#previous-recommendation-btn:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.dropdown-arrow {
  margin-left: 0.125rem;
}

/* Footer */

.footer-text {
  text-align: center;
  font-size: 0.7rem;
  margin: 1% 0%;
}

/* media query breakpoints */

@media (max-width: 992px) {
  .link-img {
    margin: 1rem 1rem 2rem 0;
  }

  .song {
    margin-top: 0;
  }
  .song-container {
    padding: 0 1rem;
  }

  .song-details {
    padding-top: 2rem;
  }
}

@media (max-width: 300px) {
  .link-img {
    width: 2.75rem;
  }
}
